.controller-activities #activity h3{
  margin: 1em 0 0 0;
  font-size: 1.4em;
}
.controller-activities #activity dl {
    background: #fcfcfc;
    border: 2px solid #D7D7D7;
    margin: 0.5em 0 2em;
    padding: 1em;
}
.controller-activities #activity dt img.gravatar {
    float: right;
    margin: 0px 1em 1em 0px;
}

.controller-activities #content div > a{
  border: 2px solid #d4dbe3;
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  color: #647082;
  background: #fff;
  padding: 4px 7px 4px 7px;
  text-decoration: none;
  font-size: 15px;
}
.controller-activities #content div > a:hover {
  border-color: #129cf7;
  color: #000;
}